/kmlight/.vs/kmlight/DesignTimeBuild/.dtbcache.v2
/kmlight/bin/Debug/netcoreapp3.1/kmlight.dll
/kmlight/bin/Debug/netcoreapp3.1/kmlight.exe
/kmlight/bin/Debug/netcoreapp3.1/kmlight.pdb
/kmlight/bin/x64/Debug/netcoreapp3.1/kmlight.dll
/kmlight/bin/x64/Debug/netcoreapp3.1/kmlight.exe
/kmlight/bin/x64/Debug/netcoreapp3.1/kmlight.pdb
/kmlight/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/kmlight/obj/Debug/netcoreapp3.1/kmlight.AssemblyInfo.cs
/kmlight/obj/Debug/netcoreapp3.1/kmlight.AssemblyInfoInputs.cache
/kmlight/obj/Debug/netcoreapp3.1/kmlight.assets.cache
/kmlight/obj/Debug/netcoreapp3.1/kmlight.csproj.CoreCompileInputs.cache
/kmlight/obj/Debug/netcoreapp3.1/kmlight.csproj.FileListAbsolute.txt
/kmlight/obj/Debug/netcoreapp3.1/kmlight.csprojAssemblyReference.cache
/kmlight/obj/Debug/netcoreapp3.1/kmlight.dll
/kmlight/obj/Debug/netcoreapp3.1/kmlight.exe
/kmlight/obj/Debug/netcoreapp3.1/kmlight.genruntimeconfig.cache
/kmlight/obj/Debug/netcoreapp3.1/kmlight.MvcApplicationPartsAssemblyInfo.cache
/kmlight/obj/Debug/netcoreapp3.1/kmlight.pdb
/kmlight/obj/Debug/netcoreapp3.1/kmlight.RazorTargetAssemblyInfo.cache
/kmlight/obj/Debug/netcoreapp3.1/staticwebassets/kmlight.StaticWebAssets.Manifest.cache
/kmlight/obj/Debug/netcoreapp3.1/staticwebassets/kmlight.StaticWebAssets.xml
/kmlight/obj/x64/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/kmlight/obj/x64/Debug/netcoreapp3.1/kmlight.AssemblyInfo.cs
/kmlight/obj/x64/Debug/netcoreapp3.1/kmlight.AssemblyInfoInputs.cache
/kmlight/obj/x64/Debug/netcoreapp3.1/kmlight.assets.cache
/kmlight/obj/x64/Debug/netcoreapp3.1/kmlight.csproj.CoreCompileInputs.cache
/kmlight/obj/x64/Debug/netcoreapp3.1/kmlight.csproj.FileListAbsolute.txt
/kmlight/obj/x64/Debug/netcoreapp3.1/kmlight.csprojAssemblyReference.cache
/kmlight/obj/x64/Debug/netcoreapp3.1/kmlight.dll
/kmlight/obj/x64/Debug/netcoreapp3.1/kmlight.exe
/kmlight/obj/x64/Debug/netcoreapp3.1/kmlight.genruntimeconfig.cache
/kmlight/obj/x64/Debug/netcoreapp3.1/kmlight.MvcApplicationPartsAssemblyInfo.cache
/kmlight/obj/x64/Debug/netcoreapp3.1/kmlight.pdb
/kmlight/obj/x64/Debug/netcoreapp3.1/kmlight.RazorTargetAssemblyInfo.cache
/kmlight/obj/x64/Debug/netcoreapp3.1/staticwebassets/kmlight.StaticWebAssets.Manifest.cache
/kmlight/obj/x64/Debug/netcoreapp3.1/staticwebassets/kmlight.StaticWebAssets.xml
/kmlight/bin/Debug/netcoreapp3.1/appsettings.Development.json
/kmlight/bin/Debug/netcoreapp3.1/appsettings.json
/kmlight/bin/Debug/netcoreapp3.1/kmlight.deps.json
/kmlight/bin/Debug/netcoreapp3.1/kmlight.runtimeconfig.dev.json
/kmlight/bin/Debug/netcoreapp3.1/kmlight.runtimeconfig.json
/kmlight/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
/kmlight/bin/x64/Debug/netcoreapp3.1/appsettings.Development.json
/kmlight/bin/x64/Debug/netcoreapp3.1/appsettings.json
/kmlight/bin/x64/Debug/netcoreapp3.1/kmlight.deps.json
/kmlight/bin/x64/Debug/netcoreapp3.1/kmlight.runtimeconfig.dev.json
/kmlight/bin/x64/Debug/netcoreapp3.1/kmlight.runtimeconfig.json
/kmlight/bin/x64/Debug/netcoreapp3.1/Properties/launchSettings.json
